{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-16">
        <div class="container">
            <div class="-mx-4 flex flex-wrap light-dark w-full justify-center items-center">
                <div class="w-full m-4">
                    <h1 class="text-4xl font-bold text-center mb-8">Create a new Chapter</h1>
                </div>
                {{ form_start(form, { 'attr': { 'class': 'w-full p-8' }, 'action': path('app_chapter_create', { id: chapter.book.id }) }) }}
                    <div class="mb-8">
                        {{ form_label(form.number, '', { 'attr': { 'class': 'mb-3 block text-sm font-medium text-white' }}) }}

                        {{ form_widget(form.number, { 'attr': { 'class': 'w-full rounded-md border border-transparent py-3 px-6 text-base placeholder-body-color shadow-one outline-none focus:border-primary focus-visible:shadow-none bg-[#242B51]' } }) }}
                    </div>

                    <div class="mb-8">
                        {{ form_label(form.content, '', { 'attr': { 'class': 'mb-3 block text-sm font-medium text-white' }}) }}

                        {{ form_widget(form.content, { 'attr': { 'class': 'w-full rounded-md border border-transparent py-3 px-6 text-base placeholder-body-color shadow-one outline-none focus:border-primary focus-visible:shadow-none bg-[#242B51]' } }) }}
                    </div>

                    {{ form_widget(form.book, { 'attr': { 'class': 'hidden' } }) }}

                    <div class="flex w-full space-x-4">
                        <button type="submit" class="flex w-full items-center justify-center rounded-md bg-primary py-4 px-9 text-base font-medium text-white hover:bg-opacity-80">Save</button>
                        <a href={{ path('app_chapter_list', { id: chapter.book.id }) }} class="flex w-full items-center justify-center rounded-md bg-secondary py-4 px-9 text-base font-medium text-white hover:bg-opacity-80 ">Cancel</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
