{% extends 'base.html.twig' %}

{% block body %}

    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
            <section aria-labelledby="section-1-title">
                <h2 class="sr-only" id="section-1-title">Section title</h2>
                <div class="overflow-hidden rounded-lg bg-white shadow">
                    <div class="p-6">
                        <turbo-frame id="chapter-content" src={{ path('app_chapter', { slug: adventure.book.slug, number: adventure.chapter.number } ) }}></turbo-frame>
                    </div>
                </div>
            </section>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <section aria-labelledby="section-2-title">
                <h2 class="sr-only" id="section-2-title">Section title</h2>
                <div class="overflow-hidden rounded-lg bg-white shadow">
                    <div class="p-6">
                        <div>
                            <div class="grid grid-cols-3 gap-4">
                                {{ component('skill', { adventureSheet: adventure.getAdventureSheet()}) }}
                                {{ component('stamina', { adventureSheet: adventure.getAdventureSheet()}) }}
                                {{ component('luck', { adventureSheet: adventure.getAdventureSheet()}) }}
                                {{ component('inventory', { adventureSheet: adventure.getAdventureSheet()}) }}
                                <div class="border border-black">
                                    Gold
                                </div>
                                <div class="border border-black">
                                    Provisions
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
