<header class="bg-grey pb-24">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="hidden border-t border-white border-opacity-20 py-5 lg:block">
            <div class="grid grid-cols-3 items-center gap-8">
                <div class="col-span-2">
                    <nav
                        class="flex space-x-4">
                        <a href="{{ path('app_home') }}" class="text-black rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" aria-current="page">Home</a>
                        {% if is_granted('ROLE_USER') %}
                            <a class="text-black rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" href="{{ path('app_profile') }}">Profile</a>
                            <a class="text-black rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" href="{{ path('app_logout') }}">Log out</a>
                        {% else %}
                            <a class="text-black rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" href="{{ path('app_login') }}">Log in</a>
                            <a class="text-black rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" href="{{ path('app_register') }}">Register</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
