<div {{ attributes }} class="grid grid-cols-3 gap-4">
    <div class="border border-black">
        Skill<br>
        Initial Skill: {{ adventureSheet.getInitialSkill() }}<br>
        {{ adventureSheet.getSkill() }}
    </div>
    <div class="border border-black">
        Stamina<br>
        Initial Stamina: {{ adventureSheet.getInitialStamina() }}<br>
        {{ adventureSheet.getStamina() }}
    </div>
    <div class="border border-black">
        Luck<br>
        Initial Luck: {{ adventureSheet.getInitialLuck() }}<br>
        {{ adventureSheet.getLuck() }}
        <button
            type="button"
            class="btn btn-secondary"
            data-action="live#action"
            data-action-name="addLuck"
        >
            up luck
        </button>
    </div>
</div>
